.eyecatch__container
  padding: 120px 0 0

.eyecatch__main
  width: 100%
  max-width: 1200px
  margin: 0 auto

.eyecatch__names__container
  width: 100%

.eyecatch__box--k, .eyecatch__box--m
  position: relative
  // overflow: hidden
  width: 100%

.eyecatch__box--k

.eyecatch__box--m
  // height: 242px
  transform: translateY(-32px)
