.slide__content

.slide__textarea
  display: flex
  justify-content: flex-start
  width: 640px
  margin: 0 auto

.slide__number
  font-size: 40px

.slide__title
  margin-left: 16px
  font-size: 40px

.slide__image__link
  display: block
  width: 640px
  margin: 0 auto
